.App-logo-nav {
  height: 25vmin;
  border-radius: 200px;
  pointer-events: none;
}

.Texto-centro {
  margin-top: 1.5rem !important;
  line-height: 1.2;
  font-style: normal;
}
.marginl{
  margin-left: 95px;
}

.text-subtitle {
  font-weight: bold;
  color: #adaf2e;
  font-family: sans-serif;
}

.text-title {
  font-weight: bold;
  color: #3d619d;
  font-family: sans-serif;
  font-size: calc(15px + 2vmin) !important;
}
.text-title2{
  font-weight: bold;
  color: #3d619d;
  font-family: sans-serif;
  font-size: calc(10px + 2vmin) !important;
}


.text-subtitle-gray {
  font-weight: bold;
  color: #aeaeae;
  font-family: sans-serif;
  font-size: calc(5px + 2vmin) !important;
}

.style-hr {
  height: 30px;
  width: auto;
  border-style: solid;
  border-color: #3d619d;
  border-width: 0 0 5px 0;
  border-radius:2px
}

.App-logo {
  height: 10vmin;
  border-radius: 200px;
  pointer-events: none;
}

.App-logo-quadrado {
  height: 10vmin;
  pointer-events: none;
}
.App-header {
  min-height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header-itens {
  flex-wrap: nowrap;
  justify-content: center;
}

.App-body-itens {
  flex-wrap: nowrap;
  justify-content: start;
}

.App-conteudo {
  min-height: auto;
  font-size: calc(5px + 2vmin);
}

.App-nav {
  background-color: #486b8f;
  margin-left: 5px;
  padding-left: 10px;
  width: 25%;
  display: flex;
  justify-content: center;
}

.App-body {
  min-height: auto;
}

.App-link {
  color: #61dafb;
}